body {
  background: url("../img/background.jpg") WhiteSmoke;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  justify-content: center;
  margin: 0;
  font-family: "Lora";

  .container {
    min-width: 500px;
    background: rgba($color: WhiteSmoke, $alpha: .5);
    margin-top: 3rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      margin: 1.5rem 0 .8rem 0;
    }

    .inputs {
      display: flex;
      flex-direction: column;
      margin: 1rem 0;
    }

    label {
      margin: .25rem 0;
      font-family: "Open Sans";
      font-weight: bold;
    }
    input {
      background: rgba($color: WhiteSmoke, $alpha: .8);
      border: none;
      border-radius: 3px;
      padding: .5rem;
      width: 150px;
      font-family: "Open Sans";
      font-size: 1rem;
    }

    #sign {
      display: flex;
      flex-direction: column;
      text-align: center;
      transition: all .5s ease;

      img {
        width: 100%;
        padding: 2rem 2rem 0 2rem;
        box-sizing: border-box;
      }
    }
  }

  a {
    display: inline-block;
    background: #000E49;
    color: White;
    margin: .25rem;
    padding: .75rem;
    text-decoration: none;
    font-size: .9rem;
    border-radius: 3px;
  }

  @media screen and (max-width: 400px) {
    body {

      .container {
        width: 70vw;
        margin: auto;
        padding: 0;
      }
    }
  }
}
